<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877785019910-kos3i3qsptkjegj8kj21r5t7h4f3iobg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877785019910-kos3i3qsptkjegj8kj21r5t7h4f3iobg</string>
	<key>API_KEY</key>
	<string>AIzaSyCpGFepQXyFw_cD_jUNfImgilamX4gELqM</string>
	<key>GCM_SENDER_ID</key>
	<string>877785019910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaeminpark.JLPT-N1</string>
	<key>PROJECT_ID</key>
	<string>jlpt-n1-d7f1f</string>
	<key>STORAGE_BUCKET</key>
	<string>jlpt-n1-d7f1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877785019910:ios:16025d6609771d5a85b587</string>
</dict>
</plist>